# DATABASE
DATABASE_URL="postgresql://postgres:password@localhost:5432/cargonaut?schema=public"

# AUTH
JWT_SECRET="d1a57b5504bba39bb930904d0257bc0f09b10a104122d20a5e065d21e4dc6748"
JWT_EXPIRES_IN="1d"

# SERVER
PORT=3000

# UPLOAD PATHS
UPLOADS_DIR="./uploads"
PROFILE_UPLOAD_DIR="./uploads/profile"
VEHICLE_UPLOAD_DIR="./uploads/vehicles"
TRIP_UPLOAD_DIR="./uploads/trips"

# PRISMA
PRISMA_LOG_LEVEL="info"